p {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  text-align: center; }

#border {
  background-color: lightgrey;
  height: 200px;
  box-shadow: 5px 5px 5px grey;
  border: 5px solid white;
  padding: 10px; }

.container {
  padding: 0; }
